<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouAreBeingHacked</title>
    <!--<link rel="stylesheet" href="css/helix.css" type="text/css">-->
    <link rel="stylesheet" href="css/message_style.css">
    <h2 class="header">Welcome to <u class="under"><i>BATMAN'S</i></u> message board!!</h2>
</head>
<body id="index-body">
<div class="center">
    <form class="form" action="/createUser" method="post">
        <div class="inputDiv">
            <input class="input" type="text" placeholder="Enter your name" name="name"/>
            <input class="input" type="password" placeholder="Make an awesome password" name="password"/>
        </div>
        <button class="submitBtn" type="submit">Submit</button>
    </form>
</div>
<div class="helix">
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
</div>

</body>
</html>