<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouAreBeingHacked</title>
    <link rel="stylesheet" href="css/helix.css" type="text/css">
    <h2 class="header">Welcome to this <u class="under"><i>AWESOME</i></u> message website!!</h2>
</head>
<body>
<div class="center">
<form class="form" action="/createUser" method="post">
    <input class="input" type="text" placeholder="Enter your name" name="name"/>
    <button class="btn" type="submit" >Submit</button>
</form>
</div>
 <div class="helix">
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
    <div class="col">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
    </div>
</div>

</body>
</html>