<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForRealz,WeAreHackingYou</title>
    <link rel="stylesheet" href="css/message_style.css">
    <style>
        ul {
            list-style-image: url('http://plainicon.com/dboard/userprod/2803_dd580/prod_thumb/plainicon.com-49102-16px-80d.png');
        }
    </style>
</head>
<body id="message-body">
<form class="form" action="/createMessage" method="post">
    <input class="input" type="text" placeholder="Enter a message!" name="message"/>
    <button class="btn" type="submit">Save</button>
</form>
<hr>
<h2>Welcome {{name}}</h2>
<h2><u>Message:</u></h2>
<ol><strong>
    {{#messageList}}
    <li>{{message}}</li>
    {{/messageList}}
</strong></ol>

<form action="/logout" method="post">
    <button class="logout" type="submit">Logout</button>
</form>

<form action="/editMessage" method="post">
    <input class="editMessage" type="number" placeholder="Enter number to edit" name="editNum">
    <input class="editMessage2" type="text" placeholder="New message here" name="edit">
    <button class=="editBtn" type="submit">Change</button>
</form>

<form action="/deleteMessage" method="post">
    <input class="deleteMessage" type="number" placeholder="Enter number to delete" name="delete">
</form>

</body>

</html>
